<app-header titulo = "Grid Row"></app-header>

<ion-content padding fullscreen>
  <ion-grid fixed>

   <!-- <ion-row>
      <ion-col *ngFor="let c of[1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        Hola, item {{ i + 1 }}
      </ion-col>
    </ion-row> -->
  <ion-row>

      <!-- Definir total de columnas en pantalla. lg (pant. grande), md (pant. mediana)-->
    <ion-col size = "12" size-lg= "3" size-md= "4" size-sm="6" size-xs="12"
             *ngFor= "let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle> Card subtitle</ion-card-subtitle>
          <ion-card-title> Card Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, repellendus. Minima voluptates sunt culpa pariatur quis expedita, magni error illum atque aperiam ex ducimus laboriosam aut dicta corrupti in quia.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>


</ion-content>
