<app-header titulo = "Card">

</app-header>

<ion-content padding>

  <ion-card mode = "ios" color = "primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <strong> Keep close to Nature's heart...</strong> and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
      <i> "Wash your spirit clean." </i>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color = "primary">
      <ion-icon slot = "start" name = "pin" color = "warning"></ion-icon>
      <ion-label> Marcador </ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus veritatis vero tempore cumque nobis quaerat asperiores veniam modi molestiae sit, nostrum quo odit, repellendus corporis a at et porro deserunt?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src = "/assets/shapes.svg"></ion-img>
      <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quod voluptates odio quam rerum est dolorem voluptatem quia aperiam in non id tenetur, quasi maiores consectetur ratione sapiente distinctio esse.
    </ion-card-content>
  </ion-card>

</ion-content>